
      </div>
      <div class="span-24 last">
        <hr />
        Retwis-RB is a simple Twitter clone written in Ruby and Sinatra to show off 
        the <a href="http://code.google.com/p/redis/">Redis key-value database</a>.
        The code is on <a href="http://github.com/danlucraft/retwis-rb">Github</a>.
      </div>
    </div>
  </body>
</html>
