
<%= erb :header %>

<div class="span-16" id="maincol">
  <h3>Timeline</h3>
  
  Posts from all users.
  <br />
  <%= erb :_posts %>
</div>
<div class="span-7 last" id="rightcol">
  <div class="span-7 box">
    <h4>New users</h4>
    <%= erb :_user_list, :locals => {:users => User.new_users} %>
  </div>
</div>
<%= erb :footer %>

